* {
    background-color: black;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
}

header img {
    width: 50px;
}

header h2 {
    padding: 10px 20px;
}

#affichage {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 100vw;
}

#div-valeur, #div-graphique {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
    padding: 5px;
    height: 80vh;
    box-shadow: 0 0 10px white;
    border-radius: 10px;
}

#div-valeur {
    width: 28%;
}

#div-graphique {
    width: 72%;
}

.choix-graphique {
    border-radius: 5px;
    width: 10vw;
    margin: 2vh; 
}

.choix-valeur {
    border-radius: 5px;
    width: 5vw;
    margin: 2vh;
}

#connexion, #inscription{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.info {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.name {
    margin: 2px auto;
    border-radius: 2.5px;
    width: 50%;
    height: 5%;
}

.changement {
    margin: 2px auto;
    border-radius: 2.5px;
    width: 25%;
    height: 5%;
}

.bouton {
    margin: auto 5px;
    width: 10%;
    height: 70%;
    border-radius: 5px;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.bouton-menu {
    border-radius: 5px;
    width: 10vw;
    margin: 2vh;   
}

#choix-salle {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#boite-selection {
    display: flex;
    flex-direction: column;
    margin: 5%;
}

.selection {
    margin: 2px auto;
    border-radius: 5px;
    width: 50%;
    height: auto;
    margin-top: 5%;
}

.formulaire {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    margin: 5%;
}

